<!DOCTYPE html>
<html>
<head>
    <title>About Jason</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/about_style.css' />
</head>
<body>
    <% include templates/header.ejs %>
    <div id="content" style="display: block">
        <div class="type_section" id="begin">
            <div class="section">
                <div class="cat f00">
                    <!--<h1>About me</h1>-->
                    <!--<p>Hey, how's it going bro ?</p>-->
                    <!--<p>I'm Jiannan Li, graduated from New York University.</p>-->
                </div>
            </div>
            <% include templates/footer.ejs %>
        </div>
    </div>
</body>
</html>