<!DOCTYPE html>
<html>
  <head>
    <title>Jason's Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <div id="content" style="display: block">
      <div class="type_section" id="begin">
        <div class="section">
          <div class="cat f00">
            <p>Jason Li</p>
          </div>
        </div>
        <div class="section">
          <div class="cat f01">
            <p>a programmer</p>
          </div>
        </div>
        <div class="section">
          <div class="cat f02">
            <p>live in brooklyn</p>
          </div>
        </div>
        <div class="section">
          <div class="cat f03">
            <p>love coding, traveling</p>
            <p>sports and movies</p>
          </div>
        </div>
        <div class="section">
          <div class="cat f04">
            <p>see my recent <a href="https://github.com/gentlebreeza" class="work">work</a></p>
          </div>
        </div>
        <% include templates/footer.ejs %>
      </div>
    </div>
  </body>
</html>
