<div class="section" id="end" style="display: block">
    <div class="footer">
        <ul class="social">
            <a href="https://github.com/gentlebreeza">
                <li><i class="fa fa-github fa-2x"></i></li>
            </a>
            <a href="https://www.linkedin.com/pub/jiannan-jason-li/6b/83b/4b5"><li>
                <i class="fa fa-linkedin-square fa-2x"></i></li>
            </a>
            <a href="http://weibo.com/1687448964/profile?rightmod=1&wvr=6&mod=personinfo">
                <li><i class="fa fa-weibo fa-2x"></i></li>
            </a>
            <a href="https://www.facebook.com/jiannan.li.372"><li>
                <i class="fa fa-facebook-square fa-2x"></i></li>
            </a>
            <a href="https://instagram.com/jason_ahaha/">
                <li><i class="fa fa-instagram fa-2x"></i></li>
            </a>
        </ul>
        <ul class="other">
            <a href="/message"><li>Leave a message</li></a>
            <a href="/about"><li>About me</li></a>
        </ul>
        <ul class="copy_right">
            <li>© 2015 Jiannan Li</li>
        </ul>
    </div>
</div>